<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #c8aca8;
}
/* background of nav bar */
.topnav {
  overflow: hidden;
  background-color: white;
}

.topnav a {
  float: left;
  color: #c8aca8;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav a:hover {
  background-color: black;
  color: white;
}

.topnav a.active {
  border-bottom: 3px #c8aca8;
}
</style>
</head>
<body>

<div class="topnav">
  <a class="active" href="#home">Home</a>
  <a href="#news">News</a>
  <a href="#contact">Contact</a>
  <a href="#about">About</a>
</div>

<div style="padding-left:16px">
  <h2>Top Navigation Example</h2>
  <p>Some content..</p>
</div>

.first {
   font-family: Arial, Helvetica, sans-serif;
   text-align: center;
   font-size: 35px;
   color: black;
   background-color: white);
   text-shadow: rgb(0, 0, 0) 2px 2px 2px;
}

</body>
</html>
