@font-face{
  font-family:  Arial, Helvetica, sans-serif;
  font-family: 'Great Vibes', cursive;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #FFFFFF;
}

h1 {
  font-family: 'Lato', sans-serif;
   font-size: 110px;
   text-align: center;
   font-style: lighter;
   font-weight: lighter;
   color: white;
   margin-top: -20px;
   margin-bottom: -20px;
}
h2 {
  font-family: 'Lato', sans-serif;
   font-size: 25px;
   text-align: center;
   align-self: center;
   font-style: normal;
   font-weight: lighter;
   color: white;
   margin-top: -35px;
}
h3 {
  font-family: 'Lato', sans-serif;
   font-size: 80px;
   text-align: center;
   font-style: lighter;
   font-weight: lighter;
   color: #817f82;
   margin-bottom: -4px;
}
p{
  /* font-size: 24px; */
  /* text-align: center; */
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: lighter;
}

/*horizontal line*/
hr {
  height: 4px;
  margin-left: auto;
  margin-right: auto;
  border: 0 none;
  margin-top: none;
  margin-bottom:50px;
}

hr.home {
  width: 55%;
  background-color: #f1e3e4;
}

hr.about {
  width: 50%;
  background-color: #cc9999;
  margin-bottom: 20px;
}

hr.resume {
  width: 55%;
  background-color: #cc9999;
}

hr.portfolio {
  width: 55%;
  background-color: #cc9999;
}

hr.port2{
  width: 98%;
  background-color: white;
  margin-top: 60px;
}

hr.service {
  width: 40%;
  background-color: #cc9999;
}

.sunset {
  height: 800px;
  overflow: hidden;
  margin-top: 20px;
  position: relative;
  text-align: center;
  color: white;
}

.profile {
  text-align: center;
  display: block;
  filter: grayscale(100%);
}

.centered {
  left: 0;
  position:absolute;
  text-align:center;
  top: 150px;
  width: 100%;
}

.socialIcons {
  text-align:center;
  color: white;
  width: 100%;
  margin-bottom: 20px;
}

.art {
  text-align:center;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 40px;
}

.aboutContainer {
  font-size: 20px;
  background-color: #cc9999;
  color: white;
  width: 65%;
  margin: auto;
  padding: 30px;
}

.container {
  font-size: 24px;
  background-color: #cc9999;
  width: 65%;
  color: #FFFFFF;
  margin: 0 auto;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

.portContainer {
  width: 100%;
  text-align: center;
}

/*---------------navigation bar---------------*/
/* background of nav bar */
.topnav {
  overflow: hidden;
  background-color: white;
  text-align: center;
}

.topnav a {
  float: left;
  color: #817F82;
  text-align: center;
  display: block;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav a:hover {
  background-color: black;
  color: white;
}

.topnav a.active {
  background-color: white;
  border-bottom: 3px solid #cc9999;
  color: #817F82;
}

.res {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: lighter;
  padding: 10px;
  font-size: 20px;
  width: 60px;
  text-align: center;
  text-decoration: none;
  margin-top: 15px;
  background: #cecccc;
  color: white;
}
.res:hover {
  opacity: 0.7;
}

/*-----------portfolio links----------------*/
.port {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: lighter;
  padding: 10px;
  font-size: 20px;
  width: 60px;
  text-align: center;
  text-decoration: none;
  margin: 10px 15px;
  background: #cecccc;
  color: white;
}

.port:hover {
  opacity: 0.7;
}

/*-------social media buttons--------------*/
.fa {
  padding: 20px;
  font-size: 30px;
  width: 60px;
  text-align: center;
  text-decoration: none;
  margin: 10px 15px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #cecccc;
  color: white;
}

.fa-twitter {
  background: #cecccc;
  color: white;
}

.fa-linkedin {
  background: #cecccc;
  color: white;
}

.fa-instagram {
  background: #cecccc;
  color: white;
}
